@model IEnumerable<TopicModel>

@{
    ViewData["Title"] = "Topic List";
    OperationNamesViewModel operations = new OperationNamesViewModel();
}

<h1 style="color: dodgerblue;">@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i style="color: yellow;" class="fas fa-plus-square"></i> Create New</a>
</p>
<table id="topics" class="ui celled table" style="width: 100%;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a title="@operations.Edit" class="btn btn-outline-primary circlebutton" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                        @:&nbsp; &nbsp;
                        <a title="@operations.Delete" class="btn btn-danger circlebutton" href="#" onclick="deleteWord(@item.Id);"><i class="fas fa-trash"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <link href="~/lib/AlertifyJS/css/alertify.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/js/datatables.js"></script>
    <script src="~/lib/AlertifyJS/alertify.min.js"></script>
    <script>
        $(function () {
            BindDataTable("topics");
        });
        function deleteWord(id) {
            alertify.confirm("Warning",
                "Are you sure do you vont to delete this topic?",
                function () {
                    window.location.href = "/Topics/Delete/" + id;
                },
                function () {
                    alertify.error("Delete canceled.");
                }
            );
        };
    </script>
}

